#root {
  background-color: rgb(248 250 252);
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@keyframes stretchSnap {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.stretch-snap-button {
  animation: stretchSnap 1s ease-in-out;
}